<template>
	<f7-page>
	  <f7-navbar>
	    <f7-nav-left>
	      <f7-link href="#" class="back" view=".view-left" icon-if-ios="f7:chevron_left" icon-if-md="material:chevron_left"></f7-link>
	    </f7-nav-left>
	    <f7-nav-title>Contacts</f7-nav-title>
	    <f7-nav-right>
	      <f7-link icon-if-ios="f7:add" icon-if-md="material:add" popup-open=".contact-popup"></f7-link>
	    </f7-nav-right>
	    <f7-subnavbar :inner="false">
	      <f7-searchbar
	        search-container=".search-list"
	        search-in=".item-title"
	      ></f7-searchbar>
	    </f7-subnavbar>
	  </f7-navbar>
	  <f7-list class="searchbar-not-found">
	    <f7-list-item title="Nothing found"></f7-list-item>
	  </f7-list>
	  <f7-list-index
	    indexes="auto"
	    list-el="#contacts-list"
	    :scroll-list="true"
	    :label="true"
	    @listindex:select="onIndexSelect"
	  ></f7-list-index>
	  <f7-list
	    id="contacts-list"
	    class="search-list searchbar-found"
	    medial-list
	    contacts-list
	  >
	    <f7-list-group v-for="group in groups" :key="sort">
	    	<f7-list-item :title="group.sort" group-title></f7-list-item>
	      <f7-list-item
	        v-for="(item, index) in group.item"
	        :key="index"
	        media-item
	        :link="/contactinfo/+item.id"
	        view=".view-main"
	        :title="item.name_pretty"
	        :style="`top: ${vlData.topPosition}px`"
	      ></f7-list-item>
	    </f7-list-group>
	  </f7-list>
	  <f7-popup class="contact-popup">
	  	<f7-navbar>
	      <f7-nav-left>
	        <f7-link class="popup-close">Cancel</f7-link>
	      </f7-nav-left>
	      <f7-nav-title title="New Contact">
	      </f7-nav-title>
	      <f7-nav-right>
	        <f7-link class="contact-save popup-close" @click="savecontact">Done</f7-link>
	      </f7-nav-right>
	    </f7-navbar>
	  	<f7-list>
	      <ul>
	        <f7-list-item>
	          <f7-input type="text" placeholder="Name" class="name_full"></f7-input>
	        </f7-list-item>
	        <f7-list-item>
	          <f7-input type="text" placeholder="Prefer to be name" class="name_preferred"></f7-input>
	        </f7-list-item>
	        <f7-list-item>
	          <f7-input type="text" placeholder="Company" class="company_name"></f7-input>
	        </f7-list-item>
	      </ul>
	      <ul class="phone-add-new">
	        <f7-list-item>
	          <f7-row no-gap>
	            <f7-col width="5">
	              <f7-link class="add-row" @click="addphone">
	                <f7-icon f7="add_round_fill"></f7-icon>
	              </f7-link>
	            </f7-col>
	            <f7-col width="95">
	              add phone
	            </f7-col>
	          </f7-row>
	        </f7-list-item>
	      </ul>
	      <ul class="email-add-new">
	        <f7-list-item>
	          <f7-row no-gap>
	            <f7-col width="5">
	              <f7-link class="add-row" @click="addemail">
	                <f7-icon f7="add_round_fill"></f7-icon>
	              </f7-link>
	            </f7-col>
	            <f7-col width="95">
	              add email
	            </f7-col>
	          </f7-row>
	        </f7-list-item>
	      </ul>
	      <ul class="address-add-new">
	        <f7-list-item>
	          <f7-row no-gap>
	            <f7-col width="5">
	              <f7-link class="add-row" @click="addaddress">
	                <f7-icon f7="add_round_fill"></f7-icon>
	              </f7-link>
	            </f7-col>
	            <f7-col width="95">
	              add address
	            </f7-col>
	          </f7-row>
	        </f7-list-item>
	        <f7-list-item>
	          <f7-label>Note</f7-label>
	          <f7-input type="textarea" placeholder="" class="notes"></f7-input>
	        </f7-list-item>
	      </ul>
	    </f7-list>
	  </f7-popup>
	</f7-page>
</template>
<script>
  $(document).on('click', '.phone-add-new .delete-row', function(){
  	$(this).parent().parent().parent().parent().parent().remove();
  });
  $(document).on('click', '.email-add-new .delete-row', function(){
  	$(this).parent().parent().parent().parent().parent().remove();
  });
  $(document).on('click', '.address-add-new .delete-row', function(){
  	$(this).parent().parent().parent().parent().parent().remove();
  });
  
  export default {
    data() {
			var groups = [];
      var groupsinfo = this.$localStorage.get('groups');
    	if (groupsinfo) {
    		groups = JSON.parse(groupsinfo);
    	} else {
	    	var contacts = [];
	    	var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
	    	var access_token = JSON.parse(this.$localStorage.get('access_token'));
				$.ajax({
				  url:      'https://thecrm-development.herokuapp.com/contacts.json',
				  method:     'get',
				  dataType:     'json',
				  crossDomain:  true,
				  headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
				  async : false,
				  success: function(data, textStatus ){
				    contacts = data;
				  },    
				  error: function(xhr, textStatus, errorThrown){ 
				    
				  },             
				});

				this.$localStorage.set('contacts', JSON.stringify(contacts));

				var groupitem = [];
				var sort = '';
				var temp;
				for (var i = 0; i < contacts.length; i++) {
				  if (sort != contacts[i].name_pretty.charAt(0)) {
				    if(i>0) {
				      if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
				        temp = sort;
				      } else {
				        temp = "#";
				      }
				      var group = { "sort": temp, "item": groupitem};
				      groups.push(group);
				    }
				    groupitem = [];
				  } else if ( i == contacts.length - 1) {
				    if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
				      temp = sort;
				    } else {
				      temp = "#";
				    }
				    group = { "sort": temp, "item": groupitem};
				    groups.push(group);
				  }
				  groupitem.push(contacts[i]);
				  sort = contacts[i].name_pretty.charAt(0);
				}

				this.$localStorage.set('groups', JSON.stringify(groups));

    	}

      return {
        // items,
        groups,
        vlData: {},
        responseInProgress: false,
      };
    },
    methods: {
      onIndexSelect(itemContent) {

      },
      addphone(){
        var addphone= '<li>'+
            '<div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link" data-phoneid="">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap phone-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap phone-num">'+
                      '<input type="tel" placeholder="Phone" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</li>';
        $('.phone-add-new').prepend(addphone);
      },
      addemail(){
        var addemail= '<li><div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap email-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap email-address">'+
                      '<input type="email" placeholder="Email" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div></li>';
        $('.email-add-new').prepend(addemail);
      },
      addaddress(){
        var addaddress= '<li><div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap address-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap address-pretty">'+
                      '<input type="text" placeholder="Address" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div></li>';
        $('.address-add-new').prepend(addaddress);
      },

      savecontact(){
      	const self = this;
      	const app = this.$f7;
	    	var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
	    	var access_token = JSON.parse(this.$localStorage.get('access_token'));
			  var name_full = $('.name_full input').val();
			  var prefer_name = $('.name_preferred input').val();
			  var company_name = $('.company_name input').val();
			  var notes = $('.notes').val();
			  var emails_attributes = [];
			  var phones_attributes = [];
			  var addresses_attributes = [];
			  
			  var phones_num = $(".phone-add-new .phone-num input");
			  var phones_label = $(".phone-add-new .phone-label input");
			  for(var i = 0; i < phones_num.length; i++){
			    var phonetemp = { 
			                  "number_pretty" : $(phones_num[i]).val(),
			                  "label" : $(phones_label[i]).val()
			              };
			    phones_attributes.push(phonetemp);
			  }

			  var emails_address = $(".email-add-new .email-address input");
			  var emails_label = $(".email-add-new .email-label input");
			  for(var i = 0; i < emails_address.length; i++){
			    var emailtemp = { 
			                  "address" : $(emails_address[i]).val(),
			                  "label" : $(emails_label[i]).val()
			              };
			    emails_attributes.push(emailtemp);
			  }

			  var address_address = $(".address-add-new .address-pretty input");
			  var address_label = $(".address-add-new .address-label input");
			  for(var i = 0; i < address_address.length; i++){
			    var addresstemp = { 
			                  "address_pretty" : $(address_address[i]).val(),
			                  "label" : $(address_label[i]).val()
			              };
			    addresses_attributes.push(addresstemp);
			  }

			  $.ajax({
			    url: 'https://thecrm-development.herokuapp.com/contacts/',
			    method: 'POST',
			    headers: {
			      'Content-Type': 'application/x-www-form-urlencoded',
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
			    },
			    dataType: "json",
			    // async : false,
			    data: {
			      "name_full": name_full,
			      "prefer_name": prefer_name,
			      "company_name": company_name,
			      "phones_attributes": phones_attributes,
			      "emails_attributes": emails_attributes,
			      "addresses_attributes": addresses_attributes,
			      "notes": notes,
			    },
			    success: function(data, textStatus ){
			    	console.log(data)
			    	var contacts = [];
						var groups = [];
            var groupitem = [];
            var sort = '';
            var temp;
						$.ajax({
						  url:      'https://thecrm-development.herokuapp.com/contacts.json',
						  method:     'get',
						  dataType:     'json',
						  crossDomain:  true,
						  headers: {
		            'X-USER-EMAIL': emailinfo,
		            'X-USER-TOKEN': access_token,
		          },
						  async : false,
						  success: function(data, textStatus ){
						    contacts = data;
						  },    
						  error: function(xhr, textStatus, errorThrown){ 
						    
						  },             
						});
            self.$localStorage.set('contacts',JSON.stringify(contacts));

            for (var i = 0; i < contacts.length; i++) {
              if (sort != contacts[i].name_pretty.charAt(0)) {
                if(i>0) {
                  if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                    temp = sort;
                  } else {
                    temp = "#";
                  }
                  var group = { "sort": temp, "item": groupitem};
                  groups.push(group);
                }
                groupitem = [];
              } else if ( i == contacts.length - 1) {
                if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                  temp = sort;
                } else {
                  temp = "#";
                }
                group = { "sort": temp, "item": groupitem};
                groups.push(group);
              }
              groupitem.push(contacts[i]);
              sort = contacts[i].name_pretty.charAt(0);
            }
            self.$localStorage.set('groups', JSON.stringify(groups));
			      app.view.get('#left-view').router.refreshPage();
			      var newcontacturl = '/contactinfo/'+data.id;
			      app.view.get('#main-view').router.load(newcontacturl);
			    },    
			    error: function(xhr, textStatus, errorThrown){ 
			      
			    },
			  });
			},
    },
  };
</script>