<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-title :title="items.name_pretty"></f7-nav-title>
      <f7-nav-right>
        <f7-link :href="/contactedit/+items.id" view=".view-main" title="">Edit</f7-link>
      </f7-nav-right>
    </f7-navbar>
    <f7-block>
      <f7-link class="go-conversation-img" :href="/conversation/+items.id">
          <!-- <f7-icon f7="chat_fill"></f7-icon>
          conversation -->
        <div class="demo-icon-icon">
          <div class="conversation-img title-center"><i class="f7-icons conversation" style="font-size: 16px;">chat_fill</i></div>
        </div>
        <div class="demo-icon-name">conversation</div>
      </f7-link>
    </f7-block>
    <f7-list form>
      <f7-list-item v-if="items.phones" v-for="phone in items.phones">
        <f7-label>{{phone.label}}</f7-label>
        <f7-input type="tel" placeholder="Phone" disabled :value="phone.number_pretty"></f7-input>
      </f7-list-item>
      <f7-list-item v-if="items.emails" v-for="email in items.emails">
        <f7-label>{{email.label}}</f7-label>
        <f7-input type="email" placeholder="E-mail" disabled :value="email.address"></f7-input>
      </f7-list-item>
      <f7-list-item v-if="items.addresses" v-for="address in items.addresses">
        <f7-label>{{address.label}}</f7-label>
        <f7-input type="url" placeholder="Address" disabled :value="address.address_pretty"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Note</f7-label>
        <f7-input type="textarea" placeholder="" disabled>{{items.notes}}</f7-input>
      </f7-list-item>
    </f7-list>
  </f7-page>
</template>

<script>
  export default {
    data() {
      var contactid = this.$f7route.params.contactid;
      var items;
      var contactinfo = this.$localStorage.get('contact/'+contactid);
      if (contactinfo) {
        items = JSON.parse(contactinfo);
      } else {
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        $.ajax({
          url:      'https://thecrm-development.herokuapp.com/contacts/'+contactid+'.json',
          method:     'get',
          dataType:     'json',
          crossDomain:  true,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          async : false,
          success: function(data, textStatus ){
            items = data;
          },    
          error: function(xhr, textStatus, errorThrown){ 
            
          },             
        });
        this.$localStorage.set('contact/'+contactid, JSON.stringify(items));
      }
      return {
        items,
      };
    },
  };
</script>
