<template>
  <f7-page>
    <f7-navbar>
      <f7-nav-left>
        <f7-link class="back">Cancel</f7-link>
      </f7-nav-left>
      <f7-nav-right>
        <f7-link class="contact-update" @click="updatecontact">Done</f7-link>
        <f7-input type="hidden" class="contact-id" :value="items.id"></f7-input>
      </f7-nav-right>
    </f7-navbar>
    <f7-list>
      <ul>
        <f7-list-item>
          <f7-input type="text" placeholder="Name" class="full_name" :value="items.name_pretty"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-input type="text" placeholder="Prefer to be name" class="name_preferred" :value="items.name_preferred"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-input type="text" placeholder="Company" class="company" :value="items.company"></f7-input>
        </f7-list-item>
      </ul>
      <ul class="phone-add">
        <f7-list-item v-if="items.phones" v-for="(phone, index) in items.phones">
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="delete-row" :data-phoneid="phone.id">
                <f7-icon f7="delete_round_fill"></f7-icon>
              </f7-link> 
            </f7-col>
            <f7-col width="20">
              <f7-input type="text" placeholder="" class="phone-label" :value="phone.label"></f7-input>
            </f7-col>
            <f7-col width="75">
              <f7-input type="tel" placeholder="Phone" class="phone-num" :value="phone.number_pretty" :data-phoneid="phone.id"></f7-input>
            </f7-col>
          </f7-row>
        </f7-list-item>
        <f7-list-item>
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="add-row" @click="addphone">
                <f7-icon f7="add_round_fill"></f7-icon>
              </f7-link>
            </f7-col>
            <f7-col width="95">
              add phone
            </f7-col>
          </f7-row>
        </f7-list-item>
      </ul>
      <ul class="email-add">
        <f7-list-item v-if="items.emails" v-for="email in items.emails">
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="delete-row" :data-emailid="email.id">
                <f7-icon f7="delete_round_fill"></f7-icon>
              </f7-link>
            </f7-col>
            <f7-col width="20">
              <f7-input type="text" placeholder="" class="email-label" :value="email.label"></f7-input>
            </f7-col>
            <f7-col width="75">
              <f7-input type="email" placeholder="E-mail" :data-emailid="email.id" class="email-address" :value="email.address"></f7-input>
            </f7-col>
          </f7-row>
        </f7-list-item>
        <f7-list-item>
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="add-row" @click="addemail">
                <f7-icon f7="add_round_fill"></f7-icon>
              </f7-link>
            </f7-col>
            <f7-col width="95">
              add email
            </f7-col>
          </f7-row>
        </f7-list-item>
      </ul>
      <ul class="address-add">
        <f7-list-item v-if="items.addresses" v-for="address in items.addresses">
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="delete-row" :data-addressid="address.id">
                <f7-icon f7="delete_round_fill"></f7-icon>
              </f7-link>
            </f7-col>
            <f7-col width="20">
              <f7-input type="text" placeholder="" class="address-label" :value="address.label"></f7-input>
            </f7-col>
            <f7-col width="75">
              <f7-input type="text" placeholder="Address" class="address-pretty" :data-addressid="address.id" :value="address.address_pretty"></f7-input>
            </f7-col>
          </f7-row>
        </f7-list-item>
        <f7-list-item>
          <f7-row no-gap>
            <f7-col width="5">
              <f7-link class="add-row" @click="addaddress">
                <f7-icon f7="add_round_fill"></f7-icon>
              </f7-link>
            </f7-col>
            <f7-col width="95">
              add address
            </f7-col>
          </f7-row>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Note</f7-label>
          <f7-input type="textarea" placeholder="">{{items.notes}}</f7-input>
        </f7-list-item>
      </ul>
    </f7-list>
    <f7-block>
      <f7-button raised round fill color="red" @click="deletecontact(items.id)">Delete</f7-button>
    </f7-block>
  </f7-page>
</template>

<script>
  var phonedeletetemp=[];
  var emaildeletetemp=[];
  var addressdeletetemp=[];
  $(document).on('click', '.phone-add .delete-row', function() {
    var contact_id = $('.contact-id input').val();
    var phone_id = $(this).data('phoneid');
    $(this).parent().parent().parent().parent().parent().remove();
    phonedeletetemp.push(phone_id);
  });
  $(document).on('click', '.email-add .delete-row', function(){
    var contact_id = $('.contact-id input').val();
    var email_id = $(this).data('emailid');
    $(this).parent().parent().parent().parent().parent().remove();
    emaildeletetemp.push(email_id);
  });
  $(document).on('click', '.address-add .delete-row', function(){
    var contact_id = $('.contact-id input').val();
    var address_id = $(this).data('addressid');
    $(this).parent().parent().parent().parent().parent().remove();
    addressdeletetemp.push(address_id);
  });


  export default {
    data() {
      var contactid = this.$f7route.params.contactid;
      var items;
      var contactinfo = this.$localStorage.get('contact/'+contactid);
      if (contactinfo) {
        items = JSON.parse(contactinfo);
      } else {
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        $.ajax({
          url:      'https://thecrm-development.herokuapp.com/contacts/'+contactid+'.json',
          method:     'get',
          dataType:     'json',
          crossDomain:  true,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          async : false,
          success: function(data, textStatus ){
            items = data;
          },    
          error: function(xhr, textStatus, errorThrown){ 
            
          },             
        });
        this.$localStorage.set('contact/'+contactid, JSON.stringify(items));
      }
      return {
        items,
      };
    },
    methods: {
      addphone(){
        var addphone= '<li>'+
            '<div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link" data-phoneid="">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap phone-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap phone-num">'+
                      '<input type="tel" placeholder="Phone" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</li>';
        $('.phone-add').prepend(addphone);
      },
      addemail(){
        var addemail= '<li><div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap email-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap email-address">'+
                      '<input type="email" placeholder="Email" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div></li>';
        $('.email-add').prepend(addemail);
      },
      addaddress(){
        var addaddress= '<li><div class="item-content item-input">'+
              '<div class="item-inner">'+
                '<div class="row no-gap">'+
                  '<div class="col-5">'+
                    '<a href="#" class="delete-row link">'+
                      '<i class="icon f7-icons">delete_round_fill</i>'+
                    '</a>'+
                  '</div> '+
                  '<div class="col-20">'+
                    '<div class="item-input-wrap address-label">'+
                      '<input type="text" placeholder="" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>' +
                  '<div class="col-75">'+
                    '<div class="item-input-wrap address-pretty">'+
                      '<input type="text" placeholder="Address" value="" class="input-with-value">'+
                    '</div>'+
                  '</div>'+
                '</div>'+
              '</div>'+
            '</div></li>';
        $('.address-add').prepend(addaddress);
      },
      updatecontact(){
        const self = this;
        const app = this.$f7;
        // console.log(app.view.get('#left-view').router)
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        var updateid = $('.contact-id input').val();
        var updatename = $('.full_name input').val();
        var phones_num = $(".phone-add .phone-num input");
        var phones_label = $(".phone-add .phone-label input");
        for (var i = 0; i < phonedeletetemp.length; i++) {
          $.ajax({
            url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/phones/'+phonedeletetemp[i],
            method: 'DELETE',
            headers: {
              'X-USER-EMAIL': emailinfo,
              'X-USER-TOKEN': access_token,
            },
            async: false,
            success: function(data, textStatus ){

            },
            error: function(xhr, textStatus, errorThrown){ 
              
            },
          });
        }
        for (var i = 0; i < emaildeletetemp.length; i++) {
          $.ajax({
            url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/emails/'+emaildeletetemp[i],
            method: 'DELETE',
            headers: {
              'X-USER-EMAIL': emailinfo,
              'X-USER-TOKEN': access_token,
            },
            async: false,
            success: function(data, textStatus ){

            },
            error: function(xhr, textStatus, errorThrown){ 
              
            },
          });
        }
        for (var i = 0; i < addressdeletetemp.length; i++) {
          $.ajax({
            url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/addresses/'+addressdeletetemp[i],
            method: 'DELETE',
            headers: {
              'X-USER-EMAIL': emailinfo,
              'X-USER-TOKEN': access_token,
            },
            async: false,
            success: function(data, textStatus ){

            },
            error: function(xhr, textStatus, errorThrown){ 
              
            },
          });
        }

        for(var i = 0; i < phones_num.length; i++){
          var phone_id = $(phones_num[i]).parent().data('phoneid');
          if (phone_id) {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/phones/'+phone_id,
              method: 'PATCH',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(phones_label[i]).val(),
                "number_pretty": $(phones_num[i]).val()
              },
              success: function(data, textStatus ){
                
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } else {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/phones',
              method: 'POST',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(phones_label[i]).val(),
                "number_pretty": $(phones_num[i]).val()
              },
              success: function(data, textStatus ){
                
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } 
        }

        var emails_address = $(".email-add .email-address input");
        var emails_label = $(".email-add .email-label input");
        for(var i = 0; i < emails_address.length; i++){
          var email_id = $(emails_address[i]).parent().data('emailid');
          if (email_id) {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/emails/'+email_id,
              method: 'PATCH',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(emails_label[i]).val(),
                "address": $(emails_address[i]).val()
              },
              success: function(data, textStatus ){
                
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } else {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/emails',
              method: 'POST',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(emails_label[i]).val(),
                "address": $(emails_address[i]).val()
              },
              success: function(data, textStatus ){

              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } 
        }

        var addresses_address = $(".address-add .address-pretty input");
        var address_label = $(".address-add .address-label input");
        for(var i = 0; i < addresses_address.length; i++){
          var address_id = $(addresses_address[i]).parent().data('addressid');
          if (address_id) {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/addresses/'+address_id,
              method: 'PATCH',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(address_label[i]).val(),
                "address_pretty": $(addresses_address[i]).val()
              },
              success: function(data, textStatus ){
                
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } else {
            $.ajax({
              url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid+'/addresses',
              method: 'POST',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async: false,
              data: {
                "label": $(address_label[i]).val(),
                "address_pretty": $(addresses_address[i]).val()
              },
              success: function(data, textStatus ){
                
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },
            });
          } 
        }
        $.ajax({
          url: 'https://thecrm-development.herokuapp.com/contacts/'+updateid,
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          async: false,
          data: {
            "name_full": updatename
          },
          success: function(data, textStatus ){
            var groups = [];
            var groupitem = [];
            var sort = '';
            var temp;
            var contacts = JSON.parse(self.$localStorage.get('contacts'));
            for (var i = 0; i < contacts.length; i++) {
              if (contacts[i].id == updateid) {
                contacts[i] = data;
              }
            }
            self.$localStorage.set('contacts',JSON.stringify(contacts));
            contacts = JSON.parse(self.$localStorage.get('contacts'));
            for (var i = 0; i < contacts.length; i++) {
              if (sort != contacts[i].name_pretty.charAt(0)) {
                if(i>0) {
                  if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                    temp = sort;
                  } else {
                    temp = "#";
                  }
                  var group = { "sort": temp, "item": groupitem};
                  groups.push(group);
                }
                groupitem = [];
              } else if ( i == contacts.length - 1) {
                if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                  temp = sort;
                } else {
                  temp = "#";
                }
                group = { "sort": temp, "item": groupitem};
                groups.push(group);
              }
              groupitem.push(contacts[i]);
              sort = contacts[i].name_pretty.charAt(0);
            }
            self.$localStorage.set('groups', JSON.stringify(groups));
            // app.view.get('#left-view').router.navigate('/contacts/');
            // app.view.get('#left-view').router.refreshPage();
            self.$localStorage.set('contact/'+updateid, JSON.stringify(data));
            var contacturl = '/contactinfo/'+updateid;
            self.$f7router.navigate(contacturl);
          },    
          error: function(xhr, textStatus, errorThrown){ 
            
          },
        });
      },
      deletecontact(contact_deleteid){
        const app = this.$f7;
        const self = this;
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        app.dialog.confirm('Are you delete a contact item?', function () {
          $.ajax({
            url: 'https://thecrm-development.herokuapp.com/contacts/'+contact_deleteid,
            method: 'DELETE',
            headers: {
              'X-USER-EMAIL': emailinfo,
              'X-USER-TOKEN': access_token,
            },
            success: function(data, textStatus ){
              var contacts = JSON.parse(self.$localStorage.get('contacts'));
              var groups = [];
              var groupitem = [];
              var sort = '';
              var temp;

              for (var i = 0; i < contacts.length; i++) {
                if (contacts[i].id == contact_deleteid) {
                  contacts.splice(i, 1);
                }
              }
              self.$localStorage.set('contacts',JSON.stringify(contacts));

              for (var i = 0; i < contacts.length; i++) {
                if (sort != contacts[i].name_pretty.charAt(0)) {
                  if(i>0) {
                    if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                      temp = sort;
                    } else {
                      temp = "#";
                    }
                    var group = { "sort": temp, "item": groupitem};
                    groups.push(group);
                  }
                  groupitem = [];
                } else if ( i == contacts.length - 1) {
                  if (sort.charCodeAt() > 64 && sort.charCodeAt() < 91) {
                    temp = sort;
                  } else {
                    temp = "#";
                  }
                  group = { "sort": temp, "item": groupitem};
                  groups.push(group);
                }
                groupitem.push(contacts[i]);
                sort = contacts[i].name_pretty.charAt(0);
              }
              self.$localStorage.set('groups', JSON.stringify(groups));

              self.$localStorage.remove('contact/'+contact_deleteid);
              app.view.get('#left-view').router.refreshPage();
              self.$f7router.navigate('/temp');
            },    
            error: function(xhr, textStatus, errorThrown){ 
              
            },
          });
        });
      },
    },
  };
</script>
