<template>       
  <f7-page url="/conversationlist/" name="conversationlist">
    <f7-navbar>
      <f7-nav-left>
        <f7-link href="/contacts/" view=".view-left" icon-if-ios="f7:chevron_left" icon-if-md="material:chevron_left"></f7-link>
      </f7-nav-left>
      <f7-nav-title>Conversation</f7-nav-title>
      <f7-nav-right>
        <f7-link icon-if-ios="f7:compose" icon-if-md="material:compose"></f7-link>
      </f7-nav-right>
      <f7-subnavbar :inner="false">
        <f7-searchbar
          search-container=".virtual-list"
          search-item="li"
          search-in=".item-title"
        ></f7-searchbar>
      </f7-subnavbar>
    </f7-navbar>
    <f7-list class="searchbar-not-found">
      <f7-list-item title="Nothing found"></f7-list-item>
    </f7-list>
    <f7-list
      class="searchbar-found"
      medial-list
      virtual-list
      :virtual-list-params="{ items, searchAll, renderExternal, height: $theme.ios ? 63 : 73}"
    >
      <ul>
        <f7-list-item
          v-for="(item, index) in vlData.items"
          :key="index"
          media-item
          class="contact-link"
          :link="/conversation/+item.contact_id"
          view=".view-main"
          :title="item.item.name_pretty"
          :after="item.showdatetime"
          :subtitle="item.content"
          :style="`top: ${vlData.topPosition}px`"
        ></f7-list-item>
      </ul>
    </f7-list>
  </f7-page>
</template>

<script>
  export default {
    name: 'conversation-list',
    created () {
      this.fetchData()
    },
    data() {
      var items = JSON.parse(this.$localStorage.get('conversations'));
      return {
        items: items,
        vlData: {},
        attachments: [],
        sheetVisible: false,
        typingMessage: null,
        responseInProgress: false,
      };
    },
    computed: {
      attachmentsVisible() {
        const self = this;
        return self.attachments.length > 0;
      },
      placeholder() {
        const self = this;
        return self.attachments.length > 0 ? 'Add comment or Send' : 'Message';
      },
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {
        this.items = JSON.parse(this.$localStorage.get('conversations'));
      },
      searchAll(query, items) {
        var found = [];
        for (var i = 0; i < items.length; i++) {
          if (items[i].item.name_pretty.toLowerCase().indexOf(query.toLowerCase()) >= 0 || query.trim() === '') found.push(i);
        }
        return found; // return array with mathced indexes
      },
      renderExternal(vl, vlData) {
        this.vlData = vlData;
      },      
    },
  };
</script>