<template>
  <f7-page @page:afterin="currentpage">
    <f7-navbar>
      <f7-nav-left>
        <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" class="panel-open display-leftpanel"></f7-link>
      </f7-nav-left>
      <f7-nav-title>{{name}}</f7-nav-title>
      <f7-nav-right>
        <f7-link icon-if-ios="f7:info" icon-if-md="material:info" :href="/conversationinfo/+contactid" view=".view-main"></f7-link>
      </f7-nav-right>
    </f7-navbar>

    <f7-messagebar
      :placeholder="placeholder"
      ref="messagebar"
      :attachmentsVisible="attachmentsVisible"
      :sheetVisible="sheetVisible"
    >
      <f7-link
        icon-if-ios="f7:chat_fill"
        icon-if-md="material:chat_fill"
        slot="inner-start"
      ></f7-link>
      <f7-link
        icon-if-ios="f7:arrow_up_fill"
        icon-if-md="material:send"
        slot="inner-end"
        @click="sendMessage"
      ></f7-link>
      <f7-messagebar-attachments>
        <f7-messagebar-attachment
          v-for="(image, index) in attachments"
          :key="index"
          :image="image"
          @attachment:delete="deleteAttachment(image)"
        ></f7-messagebar-attachment>
      </f7-messagebar-attachments>
      <f7-messagebar-sheet>
        <f7-messagebar-sheet-image
          v-for="(image, index) in images"
          :key="index"
          :image="image"
          :checked="attachments.indexOf(image) >= 0"
          @change="handleAttachment"
        ></f7-messagebar-sheet-image>
      </f7-messagebar-sheet>
    </f7-messagebar>
    <v-infinite-scroll :loading="loading" @top="prevPage" :offset='50' :onTopScrollsToBottom="false" style="max-height: 100%;overflow-y: scroll;">
    <transition name="fade">
      <div class="loading" v-show="loading">
        <f7-icon f7="reload"></f7-icon> Loading
      </div>
    </transition>
    <f7-messages ref="messages" id="messagebox">
      <!-- <f7-messages-title><b>Sunday, Feb 9,</b> 12:58</f7-messages-title> -->
      <f7-message
        v-for="(message, index) in messagesData"
        :key="index"
        :type="message.type"
        :first="isFirstMessage(message, index)"
        :last="isLastMessage(message, index)"
        :tail="isTailMessage(message, index)"
      >
        <span slot="text" v-if="message.text" v-html="message.text"></span>
      </f7-message>
      <f7-message v-if="typingMessage"
        type="received"
        :typing="true"
        :first="true"
        :last="true"
        :tail="true"
      ></f7-message>
    </f7-messages>
  </v-infinite-scroll>
  </f7-page>
</template>
<style type="text/css">
  .loading {
    text-align: center;
    position: absolute;
    color: #fff;
    z-index: 9;
    background: #5c4084;
    padding: 8px 18px;
    border-radius: 5px;
    left: calc(50% - 45px);
    top: calc(50% - 18px);
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>
<script>
  var replyrequest;

  $(document).on('click', '.contact-link', function(){
    $('.contact-link').removeClass('selected');
    $(this).addClass('selected');
    clearInterval(replyrequest);
  });

  export default {
    created () {
      this.fetchData()
    },
    data() {
      var contactid = this.$f7route.params.contactid;
      var items;
      var temp;
      var name;
      var conversationinfo = this.$localStorage.get('conversation/'+contactid);
      if (conversationinfo) {
        items = JSON.parse(conversationinfo);
      } else {
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        $.ajax({
          url:      'https://thecrm-development.herokuapp.com/contacts/'+contactid+'/conversation.json',
          method:     'get',
          dataType:     'json',
          crossDomain:  true,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          async : false,
          success: function(data, textStatus ){
            for (var i = 0; i < data.length; i++) {
              var type = "received";
              var istext = 0;
              var text = "";
              if (data[i].item_type == "Conversation::TextMessage") {
                istext = 1;
                text = data[i].item.body;
                type = data[i].item.direction_normalized == "outbound" ? "sent": "received";
              } else {
                text = data[i].item.description_pretty+"   ("+data[i].item.duration_pretty+")";;
                type = data[i].item.direction_normalized == "outbound" ? "sent": "received";
              }
              data[i].istext = istext;
              data[i].type = type;
              data[i].text = text;
            }
            items = data;
          },    
          error: function(xhr, textStatus, errorThrown){ 
          },             
        });
        this.$localStorage.set('conversation/'+contactid, JSON.stringify(items));

      }
      name = items[0].item.name_pretty;
      
      return {
        attachments: [],
        sheetVisible: false,
        typingMessage: null,
        messagesData: items,
        loading: false,
        lastItem: 50,
        contactid,
        items,
        name,
        responseInProgress: false,
      };
    },
    computed: {
      attachmentsVisible() {
        const self = this;
        return self.attachments.length > 0;
      },
      placeholder() {
        const self = this;
        return self.attachments.length > 0 ? 'Add comment or Send' : 'Message';
      },
    },
    watch: {
      '$route': 'fetchData'
    },
    methods: {
      fetchData () {

      },
      isFirstMessage(message, index) {
        const self = this;
        const previousMessage = self.messagesData[index - 1];
        if (message.isTitle) return false;
        if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
        return false;
      },
      isLastMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      isTailMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      deleteAttachment(image) {
        const self = this;
        const index = self.attachments.indexOf(image);
        self.attachments.splice(index, 1)[0]; // eslint-disable-line
      },
      handleAttachment(e) {
        const self = this;
        const index = self.$$(e.target).parents('label.checkbox').index();
        const image = self.images[index];
        if (e.target.checked) {
          // Add to attachments
          self.attachments.unshift(image);
        } else {
          // Remove from attachments
          self.attachments.splice(self.attachments.indexOf(image), 1);
        }
      },
      sendMessage() {
        const self = this;
        const app = this.$f7;
        var tempcontactid;
        const text = self.messagebar.getValue().replace(/\n/g, '<br>').trim();
        const messagesToSend = [];
        self.attachments.forEach((attachment) => {
          messagesToSend.push({
            image: attachment,
          });
        });
        if (text.trim().length) {
          messagesToSend.push({
            text,
          });
        }
        // Reset attachments
        self.attachments = [];
        // Hide sheet
        self.sheetVisible = false;
        // Clear area
        self.messagebar.clear();
        // Focus area
        if (text.length) self.messagebar.focus();

        var send_contact_id = self.$f7route.params.contactid;
        var lastmessagetime;
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        var requesturl = 'https://thecrm-development.herokuapp.com/contacts/'+send_contact_id+'/conversation/text';
        var current_time = new Date();
        var height = $("#main-view .page-current .page-content>div")[0].scrollHeight + $(".page-current .page-content .messages .message:last").height();
        $('#main-view .page-current .page-content>div').scrollTop(height);
        app.request({
          url: requesturl,
          method:     'post',
          crossDomain:  true,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          data: {
            "body": text,
            "after": current_time,
          },
          success: function(data, textStatus ){
            var data = JSON.parse(data);
            var tempmessage;
            for (var i = 0; i < data.length; i++) {
              var type = "received";
              var istext = 0;
              var text = "";
              if (data[i].item_type == "Conversation::TextMessage") {
                istext = 1;
                text = data[i].item.body;
                type = data[i].item.direction_normalized == "outbound" ? "sent": "received";
              } else {
                text = data[i].item.description_pretty+"   ("+data[i].item.duration_pretty+")";;
                type = data[i].item.direction_normalized == "outbound" ? "sent": "received";
              }
              data[i].istext = istext;
              data[i].type = type;
              data[i].text = text;
            }
            
            // Send message
            self.messagesData.push(...messagesToSend);
            self.$localStorage.set('conversation/'+send_contact_id, JSON.stringify(data));

            var endposition = document.getElementById('messagebox').clientHeight;
            $('#main-view .page-current .page-content div:first-child').animate({
               scrollTop: endposition
            }, 'slow');
            self.refreshLeftView();

            replyrequest = setInterval(() =>{
              var conversationdata = JSON.parse(self.$localStorage.get('conversation/'+send_contact_id));
              lastmessagetime = conversationdata[conversationdata.length-1].item.time;
              app.request({
                url: 'http://thecrm-development.herokuapp.com/contacts/'+send_contact_id+'/conversation.json?after='+lastmessagetime,
                method: 'get',
                headers: {
                  'X-USER-EMAIL': emailinfo,
                  'X-USER-TOKEN': access_token,
                },
                cache:　false,
                success: function(data, textStatus ){
                  var lastmessage = JSON.parse(data);
                  var tempdata = lastmessage;
                  if (lastmessage.length > 0) {
                    if (JSON.stringify(tempdata) != JSON.stringify(tempmessage)) {
                      self.messagesData.push({
                        text: lastmessage[0].item.body,
                        type: 'received',
                      });
                      lastmessage[0].type = "received";
                      lastmessage[0].text = lastmessage[0].item.body;
                      var temp = JSON.parse(self.$localStorage.get('conversation/'+send_contact_id));
                      temp.push(lastmessage[0]);
                      self.$localStorage.set('conversation/'+send_contact_id, JSON.stringify(temp));
                      self.refreshLeftView();
                      tempmessage = tempdata;
                    }
                  }

                  var bottomposition = document.getElementById('messagebox').clientHeight;
                  $('#main-view .page-current .page-content div:first-child').animate({
                     scrollTop: bottomposition
                  }, 'slow');
                },
                error: function(xhr, textStatus, errorThrown){

                }
              });
            }, 4000);
          },    
          error: function(xhr, textStatus, errorThrown){ 
            
          },
          
        });
      },
      prevPage(){
        const self = this;
        const app = this.$f7;
        var contact_id = self.$f7route.params.contactid;
        var oldmessagetime = self.items[0].item.time;
        var previousdata;
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        self.loading = true;
        app.request({
          url: 'http://thecrm-development.herokuapp.com/contacts/'+contact_id+'/conversation.json?before='+oldmessagetime,
          method: 'get',
          cache:　false,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          success: function(data, textStatus ){
            self.loading = false;
            previousdata = JSON.parse(data);

            for (var i = 0; i < previousdata.length; i++) {
              var type = "received";
              var istext = 0;
              var text = "";
              if (previousdata[i].item_type == "Conversation::TextMessage") {
                istext = 1;
                text = previousdata[i].item.body;
                type = previousdata[i].item.direction_normalized == "outbound" ? "sent" : "received";
              } else {
                text = previousdata[i].item.description_pretty+"   ("+previousdata[i].item.duration_pretty+")";
                type = previousdata[i].item.direction_normalized == "outbound" ? "sent" : "received";
              }
              previousdata[i].istext = istext;
              previousdata[i].type = type;
              previousdata[i].text = text;
            }
            for (var i = previousdata.length-1; i >= 0; i--) {
              self.items.unshift(previousdata[i]);
            }
            var forwardposition = $('#main-view .page-current .page-content #messagebox').innerHeight();
            $('#main-view .page-current .page-content>div').scrollTop(forwardposition);
          },
          error: function(xhr, textStatus, errorThrown){
            self.loading = false;
          }
        });
      },
      onF7Ready() {
        const self = this;
        self.messagebar = self.$refs.messagebar.f7Messagebar;
        self.messages = self.$refs.messages.f7Messages;
        
      },
      currentpage(){
        $('#main-view .page-current .page-content>div').scrollTop($('#messagebox').innerHeight());
        var totalposition = $('#main-view .page-current .page-content div:first-child')[0].scrollHeight;
      },
      refreshLeftView() {
        var self = this;
        var app = self.$f7;
        var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
        var access_token = JSON.parse(this.$localStorage.get('access_token'));
        var itemsdata;
        app.request({
          url: 'http://thecrm-development.herokuapp.com/conversations.json',
          method:     'get',
          dataType:     'json',
          async: false,
          headers: {
            'X-USER-EMAIL': emailinfo,
            'X-USER-TOKEN': access_token,
          },
          success: function(data, textStatus ){
            itemsdata = data;
          },
          error: function(xhr, textStatus, errorThrown){ 
            
          },
        });
        var conversations = [];
        for (var i = 0; i < itemsdata.length; i++) {
          var temp = itemsdata[i];
          var showdatetime = null;
          var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
          var options = { month: 'long', day: 'numeric' };
          var messagetime = new Date(temp.item.time);
          var currenttime = new Date();
          var differenttime = Math.ceil((currenttime-messagetime) / (1000 * 3600 * 24));
          // console.log(differenttime)
          if ( differenttime < 1) {
            showdatetime = messagetime.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
            temp.showdatetime = showdatetime;
          } else if ( differenttime == 1 ){
            temp.showdatetime = "Yesterday";
          } else if ( differenttime > 1 && differenttime < 7){
            showdatetime = days[messagetime.getDay()];
            temp.showdatetime = showdatetime;
          } else if ( differenttime >= 7){
            showdatetime = messagetime.toLocaleDateString('en-uk',options);
            temp.showdatetime = showdatetime;
          }
          if (temp.item.body == null) {
            temp.content = temp.item.description_pretty;
          } else {
            temp.content = temp.item.body;
          }
          conversations.push(temp);
        }
        self.$localStorage.set('conversations', JSON.stringify(conversations));
        app.view.get('#left-view').router.navigate('/conversationlist/', { reloadCurrent: true, ignoreCache: true,});
      },
    },
  };
</script>
