<template>
    <f7-page no-toolbar no-navbar no-swipeback login-screen>
      <f7-login-screen-title>Log in</f7-login-screen-title>
      <f7-list form>
        <f7-list-item>
          <f7-label>Email</f7-label>
          <f7-input type="text" placeholder="Your email" @input="email = $event.target.value"></f7-input>
        </f7-list-item>
        <f7-list-item>
          <f7-label>Password</f7-label>
          <f7-input type="password" placeholder="Your password" @input="password = $event.target.value"></f7-input>
        </f7-list-item>
      </f7-list>
      <f7-list>
        <f7-list-button @click="signIn">Sign In</f7-list-button>
        <f7-block-footer>Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</f7-block-footer>
      </f7-list>
    </f7-page>
</template>
<script>
 import Vue from 'vue';
import Router from 'vue-router';
 Vue.use(Router);
  export default {
    data() {
      return {
        email: '',
        password: '',
        responseInProgress: false,
      };
    },
    methods: {
      signIn() {
        const self = this;
        const app = self.$f7;
        const router = self.$f7router;
        app.request({
          url:      'http://thecrm-development.herokuapp.com/sessions.json',
          method:     'post',
          data: {
            email: self.email,
            password: self.password,
          },
          async : false,
          success: function(data, textStatus ){
            var access_token = JSON.parse(data).authentication_token;
            var items;
            $.ajax({
              url:      'http://thecrm-development.herokuapp.com/secure_conversations.json',
              method:     'get',
              dataType:     'json',
              headers: {
                'X-USER-EMAIL': self.email,
                'X-USER-TOKEN': access_token,
              },
              async : false,
              success: function(data, textStatus ){
                items = data;
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },           
                
            });
            var conversations = [];
            for (var i = 0; i < items.length; i++) {
              var temp = items[i];
              var showdatetime = null;
              var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
              var options = { month: 'long', day: 'numeric' };
              var messagetime = new Date(temp.item.time);
              var currenttime = new Date();
              var differenttime = Math.ceil((currenttime-messagetime) / (1000 * 3600 * 24));
              // console.log(differenttime)
              if ( differenttime < 1) {
                showdatetime = messagetime.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
                temp.showdatetime = showdatetime;
              } else if ( differenttime == 1 ){
                temp.showdatetime = "Yesterday";
              } else if ( differenttime > 1 && differenttime < 7){
                showdatetime = days[messagetime.getDay()];
                temp.showdatetime = showdatetime;
              } else if ( differenttime >= 7){
                showdatetime = messagetime.toLocaleDateString('en-uk',options);
                temp.showdatetime = showdatetime;
              }
              if (temp.item.body == null) {
                temp.content = temp.item.description_pretty;
              } else {
                temp.content = temp.item.body;
              }

              conversations.push(temp);
            }
            self.$localStorage.set('conversations', JSON.stringify(conversations));
            
            var router = new Router() ;
            router.push('home');
            router.go();

          },    
          error: function(xhr, textStatus, errorThrown){ 
            app.dialog.alert('Invaild email or password!', () => {
              loginScreenOpened: true;
              return false;
            });
          },           
            
        });

      },
    },
  };
</script>
