<template>
  <div id="app">
    <f7-statusbar></f7-statusbar>

    <!-- Left Panel -->
    <f7-panel left cover>
      <f7-view id="left-view" class="view-left">
        <conversation-list></conversation-list>
      </f7-view>
    </f7-panel>

    <f7-view id="main-view" main>
      <f7-page>
        <f7-navbar>
          <f7-nav-left>
            <f7-link icon-if-ios="f7:menu" icon-if-md="material:menu" class="panel-open display-leftpanel"></f7-link>
          </f7-nav-left>
          <f7-nav-title>My app</f7-nav-title>
          <f7-nav-right>
            <f7-link icon-if-ios="f7:info" icon-if-md="material:info"></f7-link>
          </f7-nav-right>
        </f7-navbar>

        <f7-messagebar
          :placeholder="placeholder"
          ref="messagebar"
          :attachmentsVisible="attachmentsVisible"
          :sheetVisible="sheetVisible"
        >
          <f7-link
            icon-if-ios="f7:chat_fill"
            icon-if-md="material:chat_fill"
            slot="inner-start"
          ></f7-link>
          <f7-link
            icon-if-ios="f7:arrow_up_fill"
            icon-if-md="material:send"
            slot="inner-end"
            @click="sendMessage"
          ></f7-link>
          <f7-messagebar-attachments>
            <f7-messagebar-attachment
              v-for="(image, index) in attachments"
              :key="index"
              :image="image"
              @attachment:delete="deleteAttachment(image)"
            ></f7-messagebar-attachment>
          </f7-messagebar-attachments>
          <f7-messagebar-sheet>
            <f7-messagebar-sheet-image
              v-for="(image, index) in images"
              :key="index"
              :image="image"
              :checked="attachments.indexOf(image) >= 0"
              @change="handleAttachment"
            ></f7-messagebar-sheet-image>
          </f7-messagebar-sheet>
        </f7-messagebar>

        <f7-messages ref="messages">
          <f7-message
            v-for="(message, index) in messagesData"
            :key="index"
            :type="message.type"
            :first="isFirstMessage(message, index)"
            :last="isLastMessage(message, index)"
            :tail="isTailMessage(message, index)"
          >
            <span slot="text" v-if="message.text" v-html="message.text"></span>
          </f7-message>
          <f7-message v-if="typingMessage"
            type="received"
            :typing="true"
            :first="true"
            :last="true"
            :tail="true"
          ></f7-message>
        </f7-messages>

      </f7-page>
    </f7-view>
    <f7-login-screen class="demo-login-screen" :opened="loginScreenOpened" @loginscreen:closed="loginScreenOpened = false">
      <f7-page login-screen>
        <f7-login-screen-title>Log in</f7-login-screen-title>
        <f7-list form>
          <f7-list-item>
            <f7-label>E-mail</f7-label>
            <f7-input type="text" placeholder="Your e-mail" @input="email = $event.target.value"></f7-input>
          </f7-list-item>
          <f7-list-item>
            <f7-label>Password</f7-label>
            <f7-input type="password" placeholder="Your password" @input="password = $event.target.value"></f7-input>
          </f7-list-item>
        </f7-list>
        <f7-list>
          <f7-list-button @click="signIn">Sign In</f7-list-button>
          <f7-block-footer>Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</f7-block-footer>
        </f7-list>
      </f7-page>
    </f7-login-screen>
  </div>
</template>
<link rel="stylesheet" href="v-infinite-scroll/dist/v-infinite-scroll.css"></link>
<script src="v-infinite-scroll/dist/v-infinite-scroll.js"></script>
<style>
  /* set border between views */
  .view-left{
    border-right: 1px solid #b2b2b2;
  }
  /* This will fix flicker navbar in left panel view */
  .panel-left .page-content{
    padding: 0;
  }
  .panel-left .navbar{
    position: relative;
    margin-bottom: -44px;
  }
  /* fixing panel width */
  .panel.panel-left.panel-cover{
    width: 320px;
    left: 0px;
  }
  body.with-panel-left-cover .panel-left{
    transform: translate3d(320px, 0, 0);
  }
  
  /* iPad Landscape Mode */
  @media(min-width: 769px){
    body .panel.panel-left.panel-cover{
      left: 320px;
      width: 320px;
      display: block;
    }
    .view-main{
      float: right;
      width: calc(100% - 320px);
    }
    .view-main .navbar .open-panel{
      display: none;
    }
  }
</style>
<script>
  Vue.use(InfiniteScroll);
</script> 
<script>
  import ConversationList from './pages/conversationlist.vue';
  export default {
    components: {
      ConversationList,
    },
    data() {
      var loginScreenOpened = true;
      var emailinfo = JSON.parse(this.$localStorage.get('emailinfo'));
      var access_token = JSON.parse(this.$localStorage.get('access_token'));
      if (emailinfo != null && access_token != null) {
        loginScreenOpened = false;
      }
      return {
        items: {},
        vlData: {},
        attachments: [],
        sheetVisible: false,
        typingMessage: null,
        loginScreenOpened: loginScreenOpened,
        email: '',
        password: '',
        messagesData: [
        ],
        responseInProgress: false,
      };
    },
    computed: {
      attachmentsVisible() {
        const self = this;
        return self.attachments.length > 0;
      },
      placeholder() {
        const self = this;
        return self.attachments.length > 0 ? 'Add comment or Send' : 'Message';
      },
    },
    methods: {
      
      signIn() {
        const self = this;
        const app = self.$f7;
        app.request({
          url:      'http://thecrm-development.herokuapp.com/sessions.json',
          method:     'post',
          data: {
            email: self.email,
            password: self.password,
          },
          async : false,
          success: function(data, textStatus ){
            var access_token = JSON.parse(data).authentication_token;
            var emailinfo = self.email;
            self.$localStorage.set('access_token', JSON.stringify(access_token));
            self.$localStorage.set('emailinfo', JSON.stringify(emailinfo));
            var itemsdata;
            $.ajax({
              url:      'http://thecrm-development.herokuapp.com/conversations.json',
              method:     'get',
              dataType:     'json',
              headers: {
                'X-USER-EMAIL': emailinfo,
                'X-USER-TOKEN': access_token,
              },
              async : false,
              success: function(data, textStatus ){
                itemsdata = data;
              },    
              error: function(xhr, textStatus, errorThrown){ 
                
              },           
                
            });
            var conversations = [];
            for (var i = 0; i < itemsdata.length; i++) {
              var temp = itemsdata[i];
              var showdatetime = null;
              var messagetime = new Date(temp.item.time);
              var currenttime = new Date();
              var differenttime = Math.ceil((currenttime-messagetime) / (1000 * 3600 * 24));
              if ( differenttime < 1) {
                showdatetime = messagetime.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});
                temp.showdatetime = showdatetime;
              } else if ( differenttime == 1 ){
                temp.showdatetime = "Yesterday";
              } else if ( differenttime > 1 && differenttime < 7){
                showdatetime = messagetime.toLocaleDateString('en-uk', { weekday: 'long' });
                temp.showdatetime = showdatetime;
              } else if ( differenttime >= 7){
                showdatetime = messagetime.toLocaleDateString('en-uk', { month: 'long', day: 'numeric' });
                temp.showdatetime = showdatetime;
              }
              if (temp.item.body == null) {
                temp.content = temp.item.description_pretty;
              } else {
                temp.content = temp.item.body;
              }

              conversations.push(temp);
            }
            self.$localStorage.set('conversations', JSON.stringify(conversations));
            self.items = conversations;
            setTimeout(()=>{
              app.loginScreen.close();
              location.reload();
            }, 1000);
          },    
          error: function(xhr, textStatus, errorThrown){ 
            app.dialog.alert('Invaild email or password!', () => {
              loginScreenOpened: true;
              return false;
            });
          },           
            
        });

      },
      searchAll(query, items) {
        var found = [];
        for (var i = 0; i < items.length; i++) {
          if (items[i].item.name_pretty.toLowerCase().indexOf(query.toLowerCase()) >= 0 || query.trim() === '') found.push(i);
        }
        return found; // return array with mathced indexes
      },
      renderExternal(vl, vlData) {
        this.vlData = vlData;
      },
      isFirstMessage(message, index) {
        const self = this;
        const previousMessage = self.messagesData[index - 1];
        if (message.isTitle) return false;
        if (!previousMessage || previousMessage.type !== message.type || previousMessage.name !== message.name) return true;
        return false;
      },
      isLastMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      isTailMessage(message, index) {
        const self = this;
        const nextMessage = self.messagesData[index + 1];
        if (message.isTitle) return false;
        if (!nextMessage || nextMessage.type !== message.type || nextMessage.name !== message.name) return true;
        return false;
      },
      deleteAttachment(image) {
        const self = this;
        const index = self.attachments.indexOf(image);
        self.attachments.splice(index, 1)[0]; // eslint-disable-line
      },
      handleAttachment(e) {
        const self = this;
        const index = self.$$(e.target).parents('label.checkbox').index();
        const image = self.images[index];
        if (e.target.checked) {
          // Add to attachments
          self.attachments.unshift(image);
        } else {
          // Remove from attachments
          self.attachments.splice(self.attachments.indexOf(image), 1);
        }
      },
      sendMessage() {
        const self = this;
        const text = self.messagebar.getValue().replace(/\n/g, '<br>').trim();
        const messagesToSend = [];
        self.attachments.forEach((attachment) => {
          messagesToSend.push({
            image: attachment,
          });
        });
        if (text.trim().length) {
          messagesToSend.push({
            text,
          });
        }
        // Reset attachments
        self.attachments = [];
        // Hide sheet
        self.sheetVisible = false;
        // Clear area
        self.messagebar.clear();
        // Focus area
        if (text.length) self.messagebar.focus();
        // Send message
        self.messagesData.push(...messagesToSend);

        // Mock response
        if (self.responseInProgress) return;
        self.responseInProgress = true;
        setTimeout(() => {
          const answer = self.answers[Math.floor(Math.random() * self.answers.length)];
          const person = self.people[Math.floor(Math.random() * self.people.length)];
          self.typingMessage = {
            name: person.name,
            avatar: person.avatar,
          };
          setTimeout(() => {
            self.messagesData.push({
              text: answer,
              type: 'received',
              name: person.name,
              avatar: person.avatar,
            });
            self.typingMessage = null;
            self.responseInProgress = false;
          }, 4000);
        }, 1000);
      },
      onF7Ready() {
        const self = this;
        self.messagebar = self.$refs.messagebar.f7Messagebar;
        self.messages = self.$refs.messages.f7Messages;
      },
    },
  };
</script>


