/* Your app styles here */
.view-main{
  margin-left: 260px;
}
.panel-left.panel-visible-by-breakpoint:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0,0,0,0.1);
    content: '';
    z-index: 6000;
}