.md .navbar-inner {
    background: #fff;
    color: #000;
}
/*.md .navbar-inner .title {
	margin: 0 auto;
}*/
.navbar-inner .info {
	color: #0c7cfe;
	margin-right: 10px; 
}
.chat_fill {
  color: #7f8893;
	margin-left: 5px; 
}
.arrow_up_fill {
	color: #0c7cfe;
	margin-right: 10px; 
}
.standard-btn, .back-user {
 /*color: #0c7cfe !important;*/
 font-size: 16px;
 margin: 10px;
 vertical-align: center;
}
.navbar-inner .chevron_left {
	color: #0c7cfe;
	margin-left: 10px; 
}
.navbar-inner .compose {
	color: #0c7cfe;
	margin-right: 10px; 
}
.md .list .item-content {
	min-height: 65px;
}
.md .list .item-link .item-inner {
	padding-right: 6px;
}
li.media-item .item-link .item-title-row {
	background-image: none !important;
}
.main-header {
	padding: 10px;
	display: flex;
	font-size: 20px;
}
.title-center {
	margin: 0 auto !important;
	left: 0px !important;
}
.conversation-img {
	width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: #0c7cfe;
}
.demo-icon {
	width: 80px;
}
.demo-icon-name {
	color: #0c7cfe;
}
.conversation {
	color: #fff;
}
.back-user {
	font-size: 16px;
}
.ios .list {
	margin: 0px; 
  font-size: 16px;
}
@media (min-width: 768px){
	.md .page-with-subnavbar .navbar~.page-content {
		padding-top: 0px !important;
		margin-top: 112px;
	}
	
}
.messagebar textarea {
  box-sizing: border-box;
  border: 1px solid #c8c8cd;
  background: #fff;
  border-radius: 17px;
  box-shadow: none;
  display: block;
  height: 34px !important;
  color: #000;
  font-size: 17px;
  line-height: 20px;
  -ms-flex: 0 1 auto;
}
.contact-link {
	color: #000 !important;
}
.selected {
	background-color: #d2d2d2;
}
.item-input-wrap {
	display: flex;
}
#newcontact .list ul:before {
  display: none;
}
#newcontact .list ul:after {
	display: none;
}
.delete-row i{
	color: red;
	margin-right: 10px;
}
.add-row i {
	color: #45d680;
}
.virtual-list .item-after {
	width: 71px;
	overflow: hidden;
}
.page {
	background-color: #fff !important;
}
.ios .list ul:before{
	background-color: #fff;
}
.ios .message-sent .message-bubble {
	background-color: #0c7cfe;
}
.contacts-list ul {
	height: auto !important;
}
.list-index li {
	margin: 5px 0 !important;
}
.contactinfo {
	color: #000 !important;
}
.no-gap {
	width: 100% !important;
}
@media (max-width: 768px){
	.display-leftpanel {
		display: block;
	}
}
@media (min-width: 769px){
	.display-leftpanel {
		display: none;
	}
}
.go-conversation-img {
	width: 100%;
	display: grid;
}
.ios .navbar~.page-with-subnavbar:not(.no-navbar) .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~* .page-content, .ios .navbar~:not(.no-navbar) .subnavbar~.page-content, .ios .page-with-subnavbar .navbar~.page-content {
    padding-top: 88px !important;
}
.ios li.media-item .item-link .item-title-row {
     padding-right: 0px !important; 
}